<div class="popup" *ngIf="popup">
  <div class="close" (click)="popup = null">X</div>
  <img [src]="'assets/img/' + popup.id + '.JPG'" alt="">
  <div class="info">
    <h2>{{popup.name}}</h2>
    <h3>{{popup.tech}}</h3>
    <h3>{{popup.artist}}</h3>
  </div>
  <div class="stars">
     <span (click)="star(popup, 1)" [ngClass]="{'on': popup.stars > 0}">★</span>
     <span (click)="star(popup, 2)" [ngClass]="{'on': popup.stars > 1}">★</span>
     <span (click)="star(popup, 3)" [ngClass]="{'on': popup.stars > 2}">★</span>
     <span (click)="star(popup, 4)" [ngClass]="{'on': popup.stars > 3}">★</span>
     <span (click)="star(popup, 5)" [ngClass]="{'on': popup.stars > 4}">★</span>
  </div>
</div>

<div class="head" *ngIf="!popup">Header</div>

<div class="main" *ngIf="!popup">


  <div class="grid">
    <div class="griditem" [ngClass]="{'checked': item.checked}" *ngFor="let item of items" (click)="checkItem(item)">
      <div class="number">{{item.id}}</div>
    </div>
  </div>

  <div class="list">
    <div class="listitem" *ngFor="let item of items">
      <div class="image" (click)="popup = item"><img [src]="'assets/img/' + item.id + '.JPG'"></div>
      <div class="info">{{item.name}}</div>
      <div class="value">{{item.value}}</div>
    </div>
  </div>

</div>